@font-face{

    font-family: 'Mason';
    src: url('../font/mason.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #141218 url('../img_min/bg.jpg') top right no-repeat;
    background-attachment: fixed; 
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.container{
    max-width: 1150px;
    margin: auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 90px;
}

.logo{
    margin-right: 60px;
}

.nav{
    display: flex;
    align-items: center;
    margin-right: auto;
    &__item{
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        line-height: 16px;
        &:not(:last-child){
            margin-right: 25px;
        }
    }
}

.socialmedia{
    &__item{
        &:not(:last-child){
            margin-right: 25px;
        }
    }
}


.main{
    .short-info{
        display: inline-block;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 16px;
    }
    .rating{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        &-info{
            margin-left: 10px;
        }
        .star{
            display: inline-block;
            margin-right: 4px;
            width: 12px;
            height: 12px;
            background: url('../img_min/star.svg');
            &-o{
                background: url('../img_min/star-o.svg');
            }
        }
    }
    &__title{
        font-family: Mason;
        font-weight: 500;
        font-size: 76px;
        line-height: 89px;
        margin-bottom: 10px;
    }
    &__description{
        width: 458px;
        font-size: 14px;
        line-height: 150%;
        margin-bottom: 40px;
    }

    .button{
        display: inline-block;
        padding: 22px 72px;
        border-radius: 8px;
        background-color: #9D2929;
        text-decoration: none;
        color: #fff;

    }
    
}
